.header {
  height: 300px;
  width: 1000px;
  margin: 0 0 0 100px;
  padding: 0 0 0 0;
  text-align: center;
  background-color: #B9D4CE;
  float: right;
}
.submitButton {
  height: 50px;
  width: 200px;
}
